body {
  font-family: 'Heebo', sans-serif;
  text-align: center;
  direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Heebo', sans-serif;
}

p {
  color: #8f8f8f;
}

label {
  display: none;
}

/* Headings */

.big-heading {
  font-family: 'Heebo', sans-serif;
  font-size: 6rem;
  line-height: 1.5;
  color: black;
  font-weight: bold;
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: white;
  color: #fff;
  /* background-color: #ef8172; */
  /* background-image: url('3.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;

}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Heebo', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 25%;
  overflow: hidden;



}

.navbar-expand-lg {
  /* background-image: url('icon.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;



}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  /* background-color: rgb(29, 167, 212); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('1.jpg');
  color: #fff;
  text-align: left;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 50%;
  height: 150%;
  transform: rotate(-15deg);
  position: absolute;
  right: 40%;
  border-radius: 50%
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  /* color: #ef8172; */
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/56990291_2183020182009248_8789782027328028672_n.jpg');
  height: 800px;
  background-attachment: fixed;
  background-size: cover;

}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  /* background-color: #ef8172; */
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}